@media (max-width: 768px) {    
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top {
        height: 735px;
        text-align: center;
        background-image: url(./img/topbackground-mobile.jpg);
    }
    .heading {
        font-size: 32px;
    }    
    .top__heading {
        text-align: center;        
        width: 343px;
        padding-top: 238px;
    }
    .text {
        font-size: 14px;
        width: 343px;
    }
    .top__text {        
        margin-bottom: 32px;
    }
    .top__text-bold {
            font-size: 14px;
        }    
    .nav__item {
        width: 343px;
    }
    .section1 {
        flex-direction: column;
        gap: 64px;
        padding-bottom: 85px;
    }
    .section1__info {
        align-items: center;
        padding-top: 51px;
        padding-bottom: 0;
    }
    .section1__text {
        text-align: center;
    }
    .section__svg {
        width: 344px;
        height: 236px;
    }
}